<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:jtds:sqlserver://localhost:1433/bd2;instance=mssqlserver</property>
        <property name="connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
        <property name="connection.username">admin</property>
        <property name="connection.password">admin</property>
        <mapping class="backend.entities.AnimalsEntity"/>
        <mapping class="backend.entities.BibliographiesEntity"/>
        <mapping class="backend.entities.BibliographyEntriesEntity"/>
        <mapping class="backend.entities.BibliographySourcesEntity"/>
        <mapping class="backend.entities.CollisionGroupsEntity"/>
        <mapping class="backend.entities.CollisionSeveritiesEntity"/>
        <mapping class="backend.entities.DivisionsEntity"/>
        <mapping class="backend.entities.DosageCollisionsEntity"/>
        <mapping class="backend.entities.DosageCommentsEntity"/>
        <mapping class="backend.entities.DosageMethodTypesEntity"/>
        <mapping class="backend.entities.DosageMethodsEntity"/>
        <mapping class="backend.entities.DosagesEntity"/>
        <mapping class="backend.entities.DrugsEntity"/>
        <mapping class="backend.entities.UnitsEntity"/>
        <mapping class="backend.entities.UsersEntity"/>
    </session-factory>
</hibernate-configuration>